<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mobile Ticket Viewer</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Mobile Ticket Viewer</h1>
    <%= yield %>
  </body>
</html>