<div class="ticket-details-container">
  <h3> Requester-Name: <%= @ticket.requester_name %> </h3>
  <p class="subject">Subject: <%= @ticket.subject %></p>
  <p>Description: <%= @ticket.description %></p>
  <a href="/">Back to all tickets</a>
</div>